html {
	
}

body {
	background-color: #000;
	color: #f0f0f0;
}

.navbar-custom {
	background-color: #ff7300;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	letter-spacing: 0.03rem;
}

section {
	height: 100vh;
	background-image: url('../bild/.png');
	background-size: cover;
	background-position: center;
	background-position-x: center;
	background-repeat: no-repeat;
}

.sec {
	padding-top: 100px;
}

#game, #score{
	text-align: center;
	font-family: 'Permanent Marker', cursive;
}

#score {
	font-size: 2em;
}

#clickerbutton {
	font-size: 3em;
	background-image: url('../bild/crab.png');
	background-color: transparent;
	color: #f0f0f0;
	border: 0px;
	height: 250px;
	width: 250px;
	background-repeat: no-repeat;
	background-position: center;
}

#clickerbutton:active {
	background-size: contain;
}

#clickerbutton:focus {
	outline: 0px;
}

.logo {
	font-size: 6em;
	font-weight: 700;
	text-transform: uppercase;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #222222;
}

#lionSuper {
	display: none;
}


#powerUps {
	text-align: center;
}

.powerUpButton {
	color: white;
	font-size: 1em;
	width:140px;
	height:110px;
	border-radius: 10px;
	background-color: #EB5508;
	font-family: 'Permanent Marker', cursive;
	letter-spacing: .4rem;
	border:0px solid #7E8987;
	text-align: center;
}

.powerUpButton:active {
	transition-property: border, background-color;
	transition-duration: 1s;
	background-color: #812F05;
	border: 4px solid #7E8987;
}
.powerUpButton:focus {
	outline: 0px;
}

#powerText {
	white-space: pre;
}